body, table, td
{
	font-family: arial, helvetica, sans-serif;
	color:#333;
}

li {
margin-bottom: 10px;
}

.row {
margin-bottom:8px;
padding-bottom:7px;
border-bottom: 1px dotted #999;
}

.row img {
margin-right:20px;
}

@charset "windows-1255";
.creditFont {
	font-family: Arial;
	font-size: 11px;
	color: #497cbb;
	text-decoration: none;
}
.pageTitle {
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	color: #5e8e49;
}
.text {
	font-family: Arial;
	font-size: 13px;
	color: #596a7f;
}

.addcss1  
{
	width: 983px;	
	height: 50px;
}
.addcss1 ul
{
	padding: 0;
	list-style-type: none;
	margin: 0 10px 0 10px;
	height: 50px;
	width: 983px;
}

.addcss1  ul li
{
	width: 175px;;
	text-align: center;
	height: 50px;
	float: left;
	margin-right: 21px;
	margin-bottom:0px;
}

.addcss1  ul li a
{
	line-height: 50px;
	text-decoration: none;
	color: white;
	height: 50px;
	display: block;
	width: 175px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	font-family: arial;
}

.addcss1  ul li a:hover, .addcss1  ul li.active a
{
	background: url(../images/menu_hover.png) center no-repeat;
}

#M377873985660720  
{
	width: 130px;	
	height: 85px;
	margin-left: 20px;
}
#M377873985660720 ul
{
	padding: 0;
	list-style-type: none;
	margin: 0;
	height: 85px;
	width: 130px;
}

#M377873985660720  ul li
{
	width: 130px;;
	text-align: left;
	height: 17px;
	margin-bottom:0px;
}

#M377873985660720  ul li a
{
	line-height: 17px;
	text-decoration: none;
	color: white;
	height: 17px;
	display: block;
	width: 130px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	font-family: arial;
}

#M377873985660720  ul li a:hover, #M377873985660720  ul li.active a
{
	color: #E4E8F1;
}